/**
 * @name pyrite-v2
 * @author LeafyLuigi
 * @version 0.2.4
 * @description Pyrite
 * @source https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @website https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
 * @invite 7P99YTBRUu
 * @BDEditor Pyrite
*/

@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/base.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/better-discord.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/vencord.css');
@import url('https://leafyluigi.github.io/discord-themes/whitney.css');
@import url('https://leafyluigi.github.io/discord-themes/pyrite/build/horizontal-server-list.css');

:root {
  --primary-color: #009688;
  --secondary-color: #009688;
  --hover-color: #009688;
  --tooltip-color: #009688;
  --background-image: url('https://w.wallhaven.cc/full/85/wallhaven-856v22.png');
  --background-attachment: fixed;
  --user-modal-image: url('https://github.com/theblu3j/discordthemes/blob/main/black.jpg?raw=true');
  --user-modal-attachment: fixed;
  --user-modal-width: 900px;
  --user-modal-height: 600px;
  --user-popout-image: url('https://github.com/theblu3j/discordthemes/blob/main/black.jpg?raw=true');
  --user-popout-attachment: fixed;
  --home-icon: url('https://github.com/theblu3j/discordthemes/blob/main/avatar.png?raw=true');
  --category-color: var(--header-primary);
  --selected-channel-color: var(--header-primary);
  --unread-channel-color: var(--primary-color);
  --unread-channel-glow: drop-shadow(0 0 4px);
  --read-channel-color: var(--interactive-normal);
  --muted-channel-color: var(--interactive-muted);
  --show-channel-unread-dot: block;
  --locked-voice-channel-color: var(--red-color);
  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --live-color: #583594;
  --offline-color: #737e8c;
  --link-color: #00aef3;
  --body-font: Inter,Whitney,"gg sans","Noto Sans","Helvetica Neue",Helvetica,sans-serif;
  --code-font: Monocraft Nerd Font,Hack,Monaco,Consolas,Courier,monospace;
  --hide-speed: 0.3s;
  --hide-member-list: 1;
  --hide-active-now: 1;
  --hide-profile-panel: 1;
  --hide-channel-list: 0;
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --win-min-max-close-button-width: 28px;
  --card-background: rgb(255,255,255,0);
  --side-shading: rgb(0,0,0,0.8);
  --middle-shading: rgb(255,255,255,0);
  --header-shading: rgb(0,0,0,0.9);
  --hover-filter: rgba(0,0,0,0.2);
  --active-filter: rgba(0,0,0,0.4);
  --card-background: rgb(255,255,255,0);
  --side-shading: rgb(0,0,0,0.8);
  --middle-shading: rgb(255,255,255,0);
  --header-shading: rgb(0,0,0,0.9);
  --hover-filter: rgba(255,255,255,0.2);
  --active-filter: rgba(255,255,255,0.4);
  --HSL-server-icon-size: 32px;
  --HSL-server-spacing: 8px;
  --HSL-server-direction: column;
  --update-notice-dec23: none; /* Debug; please do not touch */
}

/* Any custom CSS below here */
